@font-face {
	font-family: "Plus Jakarta Sans";
	src: url("/assets/fonts/PlusJakartaSans-VariableFont_wght.ttf")
		format("truetype");
}

:root {
	font-family: "Plus Jakarta Sans", sans-serif;
	line-height: 1.5;
	font-weight: 400;
	color-scheme: light dark;
	color: #ffffffde;
	background-color: #242424;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
	scroll-behavior: smooth;
}
a {
	font-weight: 500;
	color: #646cff;
	text-decoration: inherit;
}
a:hover {
	color: #535bf2;
}
body {
	margin: 0;
	display: flex;
	place-items: center;
	width: 100%;
	height: 100vh;
	transition: 0.25s all ease;
	overflow-x: hidden;
	-webkit-animation: body 0.5s ease-in;
	animation: body 0.5s ease-in;
}
.animateFromLeft.animated {
	-webkit-animation: fadeInLeft 0.5s ease;
	animation: fadeInLeft 0.5s ease-in;
}
.animateFromRight.animated {
	-webkit-animation: fadeInRight 0.5s ease-in;
	animation: fadeInRight 0.5s ease-in;
}
.animateFadeIn.animated {
	-webkit-animation: fadeIn 0.5s ease-in;
	animation: fadeIn 0.5s ease-in;
}
.animateFadeBottom.animated {
	-webkit-animation: fadeInBottom 0.5s ease-in;
	animation: fadeInBottom 0.5s ease-in;
}
.no-scroll {
	overflow: hidden;
}
svg {
	background-color: #fff;
	border: none;
	outline: none;
	margin-top: -50px;
}
h1 {
	font-size: 3.2em;
	line-height: 1.1;
}
.logo {
	height: 6em;
	padding: 1.5em;
	will-change: filter;
	transition: -webkit-filter 0.3s;
}
.logo:hover {
	-webkit-filter: drop-shadow(0 0 2em #646cffaa);
	filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
	-webkit-filter: drop-shadow(0 0 2em #f7df1eaa);
	filter: drop-shadow(0 0 2em #f7df1eaa);
}
.card {
	padding: 2em;
}
button {
	border-radius: 8px;
	border: 1px solid transparent;
	padding: 0.6em 1.2em;
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	background-color: #1a1a1a;
	cursor: pointer;
	transition: border-color 0.25s;
}
button:hover {
	border-color: #646cff;
}
button:focus,
button:focus-visible {
	outline: 4px auto -webkit-focus-ring-color;
}
@media (prefers-color-scheme: light) {
	:root {
		color: #213547;
		background-color: #fff;
	}
	a:hover {
		color: #747bff;
	}
	button {
		background-color: #f9f9f9;
	}
}
h1,
h2,
h3,
p {
	padding: 0;
	margin: 0;
}
#app {
	width: 100%;
	height: 100vh;
	margin: 0 auto;
	text-align: center;
	overflow-x: hidden;
	background: #0b0015;
}
nav {
	width: 95%;
	height: 50px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
	position: -webkit-sticky;
	position: sticky;
	top: 10px;
	left: 0;
	background-color: #0b0015;
	padding: 0 40px;
	z-index: 30;
	border-radius: 15px;
}
nav .links {
	margin-top: 10px;
}
nav .links,
nav .mobile-nav {
	height: 50px;
	list-style: none;
	display: flex;
	transition: all 0.5 ease;
	-webkit-animation: fadeInLeft 0.5s ease;
	animation: fadeInLeft 1s ease;
	align-items: center;
	justify-content: center;
}
nav .mobile-nav {
	padding-left: 10px;
	margin-bottom: -3px;
}
nav .links a,
nav .mobile-nav a {
	-webkit-text-decoration: none;
	text-decoration: none;
	color: #fff;
	margin: 0 8px;
	width: 100%;
	transition: all 0.5 ease;
}
nav .mobile-nav a img {
	width: 30px;
}
nav .links a:hover {
	color: #d374ff;
	border-bottom: 2px solid #5f00a8;
	padding-bottom: 5px;
}
.open {
	transform: translate(-15px);
}
nav #logo {
	width: 65px;
	height: 65px;
	padding: 0;
	margin-left: -10px;
	-webkit-animation: fadeIn 1s ease-in;
	animation: fadeIn 1s ease-in;
	margin-bottom: -3px;
}
.social {
	padding: 5px;
	-webkit-animation: fadeInRight 1s ease;
	animation: fadeInRight 1s ease;
	display: flex;
	align-items: center;
	margin-bottom: -3px;
}
.social a:nth-child(2) {
	margin: 0 6vw;
}
.social a:nth-child(1) img {
	width: 25px;
	height: 25px;
}
.social a:nth-child(2) img {
	width: 28px;
	height: 28px;
}
.social a:nth-child(3) img {
	width: 35px;
	height: 35px;
	margin-top: -1.5px;
}
#introduction {
	width: 90%;
	background-color: transparent;
	height: auto;
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin: 0 auto;
	background-image: url("../svgs/wave-home.svg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	padding-bottom: 80px;
	background-attachment: fixed;
	border-top-left-radius: 50px;
	border-bottom-left-radius: 50px;
}
.intro-text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.intro-text header {
	display: flex;
}
.intro-text header h1,
h2 {
	flex-grow: 1fr;
	white-space: nowrap;
}
.intro-text header h2 {
	color: #fff;
	font-size: 40px;
	-webkit-animation: fadeIn 0.5s ease-in;
	animation: fadeIn 0.5s ease-in;
}
.intro-text header h1 {
	font-size: 50px;
	color: #bc48ff;
	-webkit-animation: fadeIn 1s ease;
	animation: fadeIn 1s ease;
}
.intro-text b {
	color: #fff;
	-webkit-animation: fadeInLeft 1s ease;
	animation: fadeInLeft 1s ease;
	font-weight: 600;
}
.intro-text p {
	color: #7244f0;
	font-weight: 600;
	-webkit-animation: fadeIn 1.5s ease;
	animation: fadeIn 1.5s ease;
}
.intro-text .connect {
	width: 100%;
	margin: 20px auto 80px;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}
.intro-text .connect a {
	-webkit-text-decoration: none;
	text-decoration: none;
	color: #1b0022;
	background-color: #bc48ff;
	padding: 7px 30px;
	font-weight: 900;
	border-radius: 5px;
	margin-right: 20px;
	white-space: nowrap;
	transition: 0.25s all ease;
	-webkit-animation: fadeInEnlarge 1s ease-in;
	animation: fadeInEnlarge 1s ease-in;
}
.intro-text .connect a:hover {
	transform: translate(5px);
}
.intro-text .connect a:nth-child(0):hover {
	content: "Lets talk 👋";
}
.intro-text .connect a:nth-child(1) {
	background-color: #00c0ce;
}
.intro-text .connect a:nth-child(1):hover {
	background-color: #00cddb;
	box-shadow: -5px 5px #006a72;
}
.intro-text .connect a:nth-child(2) {
	background-color: #a556ff;
}
.intro-text .connect a:nth-child(2):hover {
	background-color: #e100ff;
	box-shadow: -5px 5px #71008d;
}
.intro-images {
	width: 100%;
	height: auto;
	margin: 50px 120px 0;
	background-color: #0b0015;
	border: 2px solid #bc48ff;
	-webkit-animation: blob 12s infinite ease-out;
	animation: blob 12s infinite ease-out;
}
.intro-images img {
	width: 50%;
	height: auto;
	padding: 30px 0;
	margin-bottom: 10px;
	background-image: url("../svgs/blob-home.svg");
	background-position: bottom;
	background-size: cover;
	background-repeat: no-repeat;
	-webkit-animation: fadeIn 1s ease-in;
	animation: fadeIn 1s ease-in;
	border-radius: 100px;
}
#about,
#contact,
#portfolio,
#projects {
	width: 100%;
	height: auto;
	background-image: url("../svgs/wave-home-portfolio.svg");
	background-position: bottom;
	background-size: cover;
	background-repeat: no-repeat;
	margin-top: -50px;
	border-top-left-radius: 50px;
	border-top-right-radius: 50px;
	padding: 40px 0;
	box-shadow: 0 -5px 20px #5f00a8;
}
#projects {
	min-height: 200dvh;
	max-height: -webkit-max-content;
	max-height: -moz-max-content;
	max-height: max-content;
}
#contact,
#projects {
	width: 100%;
	height: auto;
	box-shadow: none;
	border-radius: 0;
	background-image: url("../svgs/waves-project-landscape.svg");
	background-position: top;
}
.projects-container {
	width: 100%;
}
.projects-container .project {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	margin: 0 auto 100px;
}
.main-content {
	width: 48%;
}
.main-content img {
	width: 452px;
	height: 229px;
	border-radius: 10px;
}
.main-content .links {
	display: flex;
	list-style: none;
	justify-content: space-evenly;
	padding: 0;
	align-items: center;
}
.main-content .links li a {
	-webkit-text-decoration: none;
	text-decoration: none;
	background-color: #000;
	padding: 10px 20px;
	display: flex;
	align-items: center;
	border-radius: 10px;
	color: #fff;
	font-size: 14px;
	transition: all 0.25s ease;
	font-weight: 900;
}
.main-content .links li:nth-child(2) a {
	padding: 10px 20px;
	background-color: #6000ce;
}
.main-content .links li:nth-child(2) a:hover {
	background-color: #fff;
	color: #6000ce;
}
.main-content .links li a .github {
	width: 20px;
	height: 20px;
	margin-top: -1px;
	margin-left: 5px;
}
.main-description {
	width: 40%;
	text-align: left;
	padding: 0 10px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}
.main-description a {
	padding: 10px 0;
	background-color: transparent;
	color: #fff;
	font-size: 14px;
	font-weight: 900;
	border-radius: 8px;
	transition: all 0.2s ease;
}
.main-description a:hover {
	background-color: #fff;
	color: #6200ff;
	padding: 10px 20px;
}
#project2 .main-description,
#project4 .main-description {
	text-align: right;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-end;
}
#project3 .main-content img,
#project4 .main-content img {
	width: 90%;
}
.main-description .main-title {
	color: #fff;
	margin: 10px 0;
}
.main-description .main-summary {
	height: 160px;
	color: #fff;
}
#about {
	width: 100%;
	height: auto;
	box-shadow: none;
	border-radius: 0;
	background-image: url("../svgs/waves-about.svg");
	background-position: top;
	position: relative;
	background-size: cover;
}
#contact {
	background-image: url("../images/contact-background/gabe-09IS_HJcUZA-unsplash1200.webp");
	display: flex;
	flex-direction: column;
	justify-content: bottom;
	position: relative;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	padding-bottom: 0;
}
#about h1,
#contact h1 {
	width: 100%;
	background-image: url("../svgs/waves-contact-landscape.svg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top;
	padding: 50px 0 150px;
	position: absolute;
	top: 0;
	left: 0;
}
#comments {
	background-color: #fff;
}
#contact .top {
	width: 100%;
	height: 300px;
	background-image: url("../svgs/waves-contact-top.svg");
	background-position: bottom;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 5px 0;
}
#about {
	height: 160dvh;
	background-color: #00286d;
	display: grid;
	place-items: center;
}
#about .about-me {
	width: 90%;
	margin: 0 auto;
	height: 100vh;
	position: relative;
}
#about .about-me img {
	width: 400px;
	height: 400px;
	background-color: #210036;
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 15px;
	transition: all 0.25s ease;
	pointer-events: none;
	margin: 0 auto;
}
#about .img-back {
	-webkit-filter: drop-shadow(2vw 1.5vw 0px #006eff);
	filter: drop-shadow(2vw 1.5vw 0px #006eff);
}
#about .about-me p {
	width: 70%;
	height: auto;
	border: 1px solid #000;
	position: absolute;
	bottom: 0;
	right: 0;
	background-color: #210036;
	padding: 20px 30px;
	text-align: left;
	color: #81fff5;
	box-shadow: -1.5vw -1.5vw #006eff;
	border-radius: 20px;
	word-spacing: 10px;
}
#about .about-me p b {
	color: #fff;
}
#about a {
	background-color: #160029;
	padding: 15px 30px;
	font-size: 18px;
	color: #00ec9e;
	font-weight: 900;
	margin-top: 0;
	border-radius: 10px;
	transition: all 0.25s ease;
	-webkit-animation-delay: 0;
	animation-delay: 0;
	box-shadow: 1.3vw 1.3vw #006eff;
	z-index: 20;
}
#about a:hover {
	box-shadow: -10px -10px #006eff;
	transform: scale(1.05);
	color: #f9f9f9;
}
#about h1 {
	background-image: url("../svgs/blob-about.svg");
	background-position: top;
	padding-top: 0;
	padding-bottom: 30vw;
	background-size: cover;
}
#about h1,
#contact h1,
#portfolio h1,
#projects h1 {
	color: #fff;
	font-size: 30px;
}
#contact h1 {
	color: #0b0015;
}
#contact h1,
#projects h1 {
	padding-top: 50px;
	margin: 100px 0;
}
#portfolio .stack-header {
	width: 80%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin: 50px auto;
	padding: 10px 0;
}
.stack-header.animated {
	-webkit-animation: fadeInLeft 1s ease-in;
	animation: fadeInLeft 1s ease-in;
}
#portfolio .stack-header img {
	width: 30px;
	height: 30px;
	margin-left: 10px;
}
#portfolio .stack-heading {
	font-size: 40px;
	color: #fff;
	font-weight: 900;
	white-space: nowrap;
	transform: translate(10px);
	visibility: visible;
}
.tech-stacks {
	width: 80%;
	display: grid;
	list-style: none;
	grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
	margin: 0;
	padding: 0;
	gap: 5vw;
	place-items: center;
}
.tech-stacks li {
	background-color: #160029;
	padding: 5px 12px 12px;
	margin: 20px;
	border-radius: 20px;
	box-shadow: inset 0 0 10px #220034;
	border: 1px solid #240036;
	list-style: none;
	transition: 0.25s all ease;
}
.tech-stacks li:hover {
	background-color: #260046;
	box-shadow: 0 0 5px #000;
}
.tech-stacks li img {
	width: 50px;
	height: 50px;
	padding: 5px 10px;
}
.tech-stacks li p {
	color: #faefff;
	font-size: 14px;
	font-weight: 900;
}
.platforms {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	margin: 30px auto 50px;
}
.platforms li {
	list-style: none;
	background-color: #160029;
	padding: 13px 20px;
	border-radius: 20px;
	margin: 15px 10px;
}
.platforms li img {
	width: 35px;
	height: 35px;
}
.platforms li p {
	color: #fff;
	font-weight: 900;
	font-size: 13px;
	padding: 5px 0;
}
.backends {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	margin: 30px 0;
	padding: 0;
}
.backends li {
	list-style: none;
	background-color: #22003d;
	padding: 15px 20px;
	border-radius: 20px;
	transition: 0.25 all ease;
}
.backends li img {
	width: 35px;
	height: 35px;
}
.backends li p {
	color: #fff;
	font-weight: 900;
	font-size: 13px;
	padding: 5px 0;
}
.tech.animated {
	-webkit-animation: fadeIn 0.5s ease;
	animation: fadeIn 0.5s ease;
}
#roles {
	width: 85%;
	margin: 0 auto 40px;
	padding: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 350px;
}
#roles .role {
	list-style: none;
	text-align: left;
	padding: 20px;
	border-radius: 15px;
	background-color: #2900429c;
	color: #fff;
	width: 90%;
	margin: 0 auto;
}
.role b {
	color: #2cffed;
	padding: 0 0 10px;
}
.role p {
	color: #fff;
	font-weight: 300;
	font-size: 12px;
}
.projects-container {
	width: 90%;
	margin: 20px auto;
	height: 100vh;
	border-radius: 30px;
}
.contact-container {
	width: 70%;
	background-color: #fff;
	height: auto;
	padding: 15px 0 20px;
	border-radius: 20px;
	justify-content: center;
	margin: 250px auto;
	box-shadow: 1.5vw 1.5vw #ffe657;
	z-index: 20;
}
.contact-container form {
	width: 80%;
	margin: 0 auto;
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
}
.contact-container form h2 {
	margin: 20px 0 50px;
	color: #000;
	font-size: 30px;
}
.contact-container form label {
	text-align: left;
	margin-bottom: 5px;
	font-weight: 900;
	color: #006a72;
}
.contact-container form input {
	width: 99%;
	height: 30px;
	font-family: Plus Jakarta Sans, sans-serif;
	background-color: transparent;
	border: none;
	outline: none;
	color: #000;
	margin-bottom: 20px;
	font-size: 16px;
	transition: all 0.35s ease;
	border-bottom: 2px solid #ececec;
	font-weight: 600;
}
.contact-container form input:focus,
.contact-container form textarea:focus {
	border-bottom: 2px solid #3a3a3a;
}
.contact-container form textarea {
	min-height: 120px;
	resize: none;
	font-family: Plus Jakarta Sans, sans-serif;
	margin-bottom: 20px;
	border: none;
	border-bottom: 2px solid #e3e3e3;
	font-size: 16px;
	max-height: auto;
	padding: 5px;
	font-weight: 600;
	outline: none;
	color: #000;
}
.contact-container form button {
	padding: 18px 0;
	background-color: #000;
	color: #fff;
	font-weight: 900;
	border: none;
	font-size: 14px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	transition: all 0.35s ease;
	border-radius: 10px;
}
.contact-container #button-text {
	font-size: 14px;
}
.contact-container form button img {
	width: 30px;
	height: 30px;
	opacity: 0;
	position: absolute;
	margin-top: 0;
}
#contact .bottom-wave {
	background-position: bottom;
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url("../svgs/waves-contact-bottom.svg");
	width: 100%;
	padding-bottom: 200px;
	position: absolute;
	bottom: 0;
}
footer {
	height: 10dvh;
	background-color: transparent;
	padding-bottom: 50px;
}
footer .bottom-links {
	display: flex;
	list-style: none;
	padding: 0;
	align-items: center;
	justify-content: space-evenly;
}
footer .bottom-links li a {
	font-weight: 900;
	font-size: 14px;
	color: #c9c9c9;
}
footer .bottom-links li a:hover {
	color: #fff;
}
::-webkit-scrollbar {
	width: 5px;
	background-color: #000;
}
::-webkit-scrollbar-thumb {
	background: linear-gradient(0deg, #1a0728, #bf00ff, #1a0728);
	border-radius: 10px;
}
@media screen and (min-width: 320px) and (max-width: 449px) {
	nav {
		justify-content: space-between;
		align-items: center;
		padding: 0;
		top: 5px;
	}
	nav .links {
		display: none;
	}
	nav .mobile-nav {
		width: 30%;
	}
	nav .social {
		width: 30%;
		justify-content: center;
		padding-right: 10px;
	}
	.social a:nth-child(2) {
		margin: 0 15px;
	}
	.mobile-nav a img {
		width: 20px;
	}
	.social a img {
		width: 25px;
	}
	#logo {
		width: 80px;
		height: 80px;
		margin-right: -10px;
		margin-top: 2px;
	}
	#introduction {
		width: 100%;
		margin: 0 auto;
		flex-direction: column-reverse;
	}
	#introduction .intro-images {
		width: 80vw;
		border-radius: 60vw 40vw;
		margin-bottom: 30px;
		height: 350px;
		padding: 20px 10px;
	}
	#introduction .intro-images img {
		width: 60vw;
		margin: 10px 0;
		padding: 30px 0 0;
	}
	#introduction .intro-text {
		width: 80%;
		justify-content: flex-end;
		align-items: center;
		margin: 25px auto;
		text-align: center;
	}
	#introduction .intro-text header {
		align-items: center;
	}
	#introduction .intro-text header h2 {
		font-size: 25px;
		margin-right: 5px;
	}
	#introduction .intro-text header h1 {
		font-size: 25px;
	}
	#introduction .intro-text b {
		font-size: 16px;
		text-align: center;
		line-height: 25px;
		padding: 0 10px;
	}
	#introduction .intro-text p {
		font-size: 3vw;
		margin-top: 10px;
	}
	#introduction .intro-text .connect {
		margin: 50px auto;
	}
	#introduction .intro-text .connect a {
		padding: 7px 20px;
		font-weight: 700;
		font-size: 16px;
		margin: 0;
	}
	#portfolio {
		margin-top: 0;
	}
	#portfolio h1 {
		font-size: 25px;
		margin-bottom: 50px;
	}
	#portfolio .stack-header {
		margin: 30px auto;
		justify-content: center;
		align-items: center;
	}
	#portfolio .stack-header p {
		font-size: 18px;
	}
	#portfolio .stack-header img {
		width: 25px;
		height: 25px;
		margin-left: 15px;
		margin-bottom: 0;
	}
	#portfolio .tech-stacks {
		width: 90%;
		margin: 0 auto;
	}
	#portfolio .tech-stacks li p {
		font-size: 12px;
		padding: 0;
	}
	#portfolio .tech-stacks li img {
		width: 35px;
		height: 35px;
	}
	.platforms ul {
		padding: 0;
		margin: 0;
	}
	#roles {
		width: 95%;
		height: auto;
		margin-top: -10px;
	}
	#roles .role {
		height: -webkit-max-content;
		height: -moz-max-content;
		height: max-content;
	}
	#roles h3 {
		font-size: 15px;
	}
	#roles p {
		font-size: 12px;
		font-family: monospace;
	}
	.abstraction,
	.main,
	.vanilla {
		padding-left: 0;
	}
	#projects {
		padding-bottom: 150px;
	}
	.projects-container {
		height: auto;
	}
	.projects-container .project {
		margin-bottom: 80px;
	}
	.projects-container .project .main-summary {
		height: auto;
	}
	.projects-container #project1,
	.projects-container #project3 {
		flex-direction: column;
		height: auto;
	}
	.projects-container #project2,
	.projects-container #project4 {
		flex-direction: column-reverse;
		justify-content: center;
	}
	.project .main-content {
		width: 100%;
	}
	.project .main-content img {
		height: 45vw;
		width: 80vw;
	}
	.project .main-description {
		width: 90%;
		margin: 0 auto;
		justify-content: center;
		align-items: flex-start;
		text-align: justify;
	}
	.projects-container p {
		font-size: 13px;
		margin-bottom: 5px;
	}
	#about,
	#contact {
		margin-top: 0;
		padding: 0;
		background-position: right;
		background-size: cover;
	}
	#contact {
		background-size: cover;
		background-position: bottom;
		height: 1000px;
	}
	#about {
		height: 900px;
		padding-bottom: 330px;
	}
	#about h1 {
		margin-top: -50px;
	}
	#about .about-me {
		padding: 20px 0;
		margin-top: 30vw;
		height: 850px;
	}
	#about .about-me img {
		width: 235px;
		height: 235px;
		left: 15%;
		-webkit-clip-path: polygon(
			25% 0%,
			75% 0%,
			100% 50%,
			75% 100%,
			25% 100%,
			0% 50%
		);
		clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
		border-radius: 20px;
		background-color: #006eff;
	}
	#about .img-back {
		-webkit-filter: drop-shadow(2.5vw 1.5vw 0px #006eff);
		filter: drop-shadow(2.5vw 1.5vw 0px #006eff);
	}
	#about .about-me p {
		height: auto;
		right: 5%;
		font-size: 12px;
		bottom: 50px;
		margin-bottom: 0;
		word-spacing: normal;
	}
	#about a {
		margin-top: 0;
		font-size: 14px;
	}
	#contact {
		background-image: url("../images/contact-background/gabe-09IS_HJcUZA-unsplash320.webp");
	}
	#contact h1 {
		background-image: url("../svgs/waves-contact.svg");
		padding-bottom: 40vw;
		padding-top: 0;
		font-size: 5vw;
		margin-top: 20px;
	}
	#contact .top {
		background-image: url("../svgs/waves-contact-top.svg");
		position: absolute;
		top: -80px;
		left: 0;
		height: 100px;
	}
	.contact-container {
		width: 90%;
		padding-bottom: 30px;
		border-radius: 10px;
		margin-top: 270px;
	}
	.contact-container form {
		height: 500px;
	}
	.contact-container form h2 {
		font-size: 6vw;
		margin: 10px 30px 30px;
		font-weight: 900;
	}
	.contact-container form label {
		font-size: 13px;
		margin-top: 2px;
	}
	.contact-container form input {
		margin-bottom: 10px;
		font-size: 13px;
	}
	.contact-container form button {
		padding: 16px 0;
		font-size: 4vw;
	}
	footer {
		height: 20dvh;
	}
	footer .bottom-links {
		width: 80%;
		margin: 0 auto;
		justify-content: space-evenly;
	}
	footer .bottom-links li a {
		font-size: 13px;
	}
	::-webkit-scrollbar {
		width: 0;
	}
}
@media screen and (min-width: 450px) and (max-width: 599px) {
	nav {
		padding: 0;
		top: 5px;
	}
	nav .links {
		display: none;
	}
	nav .social {
		width: 25%;
		justify-content: center;
		padding-right: 15px;
	}
	.social a:nth-child(2) {
		margin: 0 15px;
	}
	#logo {
		width: 80px;
		height: 80px;
		margin-right: -2.5%;
	}
	#introduction {
		width: 100%;
		margin: 0 auto;
		flex-direction: column-reverse;
		height: auto;
	}
	#introduction .intro-images {
		width: 60%;
		height: 30vh;
		padding: 30px 25px 55px;
		border-radius: 60vw 60vw 40vw 40vw;
		margin-top: 20px;
		margin-bottom: 40px;
	}
	#introduction .intro-images img {
		width: 230px;
		padding-bottom: 10px;
	}
	#introduction .intro-text {
		width: 80%;
		justify-content: center;
		align-items: center;
		text-align: center;
		margin-top: 35px;
	}
	#introduction .intro-text header {
		align-items: center;
		height: auto;
	}
	#introduction .intro-text header h2 {
		font-size: 25px;
		margin-right: 5px;
	}
	#introduction .intro-text header h1 {
		font-size: 30px;
	}
	#introduction .intro-text b {
		font-size: 18px;
		text-align: center;
		padding: 0 10px;
		line-height: 30px;
	}
	#introduction .intro-text p {
		font-size: 3vw;
		margin: 10px 0;
	}
	#introduction .intro-text .connect a {
		padding: 7px 30px;
		font-weight: 700;
		font-size: 15px;
		margin: 0;
	}
	#portfolio h1 {
		margin-bottom: 60px;
	}
	#portfolio .stack-header {
		margin-bottom: 0;
		margin-top: 0;
	}
	#portfolio .stack-header p {
		font-size: 20px;
	}
	#portfolio .stack-header img {
		width: 25px;
		height: 25px;
		margin-left: 20px;
	}
	#portfolio .tech-stacks {
		width: 90%;
		margin: 0 auto;
	}
	#portfolio .tech-stacks li p {
		font-size: 12px;
	}
	#portfolio .tech-stacks li img {
		width: 40px;
		height: 40px;
	}
	.platforms ul {
		padding: 0;
		margin: 0;
	}
	#portfolio .exp {
		margin-top: 50px;
	}
	#roles {
		width: 85%;
		height: -webkit-max-content;
		height: -moz-max-content;
		height: max-content;
	}
	#roles h3 {
		font-size: 16px;
		font-weight: 500;
	}
	#roles p {
		font-size: 12px;
		font-family: monospace;
	}
	.abstraction,
	.main,
	.vanilla {
		padding-left: 0;
	}
	#projects {
		padding-bottom: 150px;
	}
	.projects-container {
		height: auto;
	}
	.projects-container .project {
		margin-bottom: 50px;
	}
	.projects-container .project .main-summary {
		height: auto;
	}
	.projects-container #project1,
	.projects-container #project3 {
		flex-direction: column;
		height: auto;
	}
	.projects-container #project2,
	.projects-container #project4 {
		flex-direction: column-reverse;
		justify-content: center;
	}
	.project .main-content {
		width: 100%;
	}
	.project .main-content img {
		height: 45vw;
		width: 80vw;
	}
	.project .main-description {
		width: 90%;
		margin: 0 auto;
		justify-content: center;
		align-items: flex-start;
		text-align: justify;
	}
	.projects-container p {
		font-size: 13px;
		margin-bottom: 5px;
	}
	#about {
		height: 130dvh;
		padding-bottom: 150px;
	}
	#about h1 {
		padding-bottom: 23vw;
	}
	#about .about-me {
		padding: 20px 0;
		margin-top: 130px;
		height: 100dvh;
	}
	#about .about-me img {
		width: 310px;
		height: 310px;
		top: 0;
		left: 13.5%;
		-webkit-clip-path: polygon(
			25% 0%,
			75% 0%,
			100% 50%,
			75% 100%,
			25% 100%,
			0% 50%
		);
		clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
	}
	#about .img-back {
		-webkit-filter: drop-shadow(2.5vw 1.5vw 0px #006eff);
		filter: drop-shadow(2.5vw 1.5vw 0px #006eff);
	}
	#about .about-me p {
		height: 530px;
		right: 1.5%;
		font-size: 14px;
		width: 80%;
		word-spacing: normal;
	}
	#about a {
		margin-top: 50px;
		font-size: 14px;
	}
	#contact {
		height: auto;
		margin-top: 0;
		padding: 0;
		justify-content: center;
		background-image: url("../images/contact-background/gabe-09IS_HJcUZA-unsplash450.webp");
	}
	#contact h1 {
		background-image: url("../svgs/waves-contact.svg");
		padding-bottom: 52vw;
		padding-top: 0;
		font-size: 5vw;
		margin-top: 0;
	}
	#contact .top {
		height: 50px;
		background-image: url("../svgs/waves-contact-top.svg");
		position: absolute;
		top: -100px;
		left: 0;
		height: 28vw;
	}
	.contact-container {
		width: 90%;
		margin-top: 60vw;
		padding-bottom: 30px;
		border-radius: 10px;
	}
	.contact-container form {
		height: 500px;
	}
	.contact-container form h2 {
		font-size: 25px;
		margin: 10px 30px 30px;
		font-weight: 900;
	}
	.contact-container form label {
		font-size: 13px;
		margin-top: 2px;
	}
	.contact-container form input {
		margin-bottom: 10px;
		font-size: 13px;
	}
	.contact-container form button {
		padding: 16px 0;
		font-size: 15px;
	}
	#contact .bottom-wave {
		padding: 120px 0;
	}
	footer {
		height: 20dvh;
	}
	footer a #logo {
		margin: 0;
	}
	footer .bottom-links {
		width: 80%;
		margin: 0 auto;
		justify-content: space-evenly;
	}
	footer .bottom-links li a {
		font-size: 13px;
	}
	::-webkit-scrollbar {
		width: 0;
	}
}
@media screen and (min-width: 600px) and (max-width: 900px) {
	nav {
		height: 50px;
		padding: 10px 0;
		justify-content: space-between;
		align-items: center;
	}
	nav .mobile-nav {
		display: none;
	}
	nav #logo {
		margin-left: -55px;
	}
	nav .menu {
		display: block;
	}
	nav .links {
		justify-content: center;
		align-items: center;
		padding: 0 10px;
	}
	nav .social {
		display: flex;
		align-items: center;
		width: 25%;
		justify-content: flex-end;
		padding-right: 15px;
	}
	nav .social a:nth-child(2) {
		margin: 0 20px;
	}
	#logo {
		width: 80px;
		height: 80px;
		margin-left: -55px;
	}
	#introduction {
		width: 100%;
		margin: 20px auto 0;
		flex-direction: column-reverse;
	}
	#introduction .intro-images {
		width: 450px;
		height: 430px;
		border-radius: 60vw 35vw 60vw 60vw;
	}
	#introduction .intro-images img {
		width: 300px;
	}
	#introduction .intro-text {
		width: 80%;
		justify-content: space-around;
		align-items: center;
		text-align: center;
		margin-top: 50px;
	}
	#introduction .intro-text header {
		align-items: center;
	}
	#introduction .intro-text header h2 {
		font-size: 33px;
		margin-right: 5px;
	}
	#introduction .intro-text header h1 {
		font-size: 35px;
	}
	#introduction .intro-text b {
		font-size: 4vw;
		text-align: center;
		line-height: 5vw;
	}
	#introduction .intro-text p {
		font-size: 2.5vw;
		margin: 10px 0;
	}
	#introduction .intro-text .connect {
		width: 80%;
	}
	#introduction .intro-text .connect a {
		padding: 7px 25px;
		font-weight: 700;
		font-size: 16px;
		margin: 0;
	}
	#portfolio h1 {
		margin-bottom: 60px;
	}
	#portfolio .stack-header {
		margin: 50px auto 0;
	}
	#portfolio .stack-header p {
		font-size: 20px;
	}
	#portfolio .stack-header img {
		width: 25px;
		height: 25px;
		margin-left: 20px;
	}
	#portfolio .tech-stacks li p {
		font-size: 13px;
	}
	#portfolio .tech-stacks li img {
		width: 40px;
		height: 40px;
	}
	#portfolio .exp {
		margin-top: 50px;
	}
	#roles {
		width: 85%;
		height: -webkit-max-content;
		height: -moz-max-content;
		height: max-content;
	}
	#roles h3 {
		font-size: 16px;
	}
	#roles p {
		font-size: 14px;
		font-family: monospace;
	}
	.platforms,
	.tech-stacks {
		width: 85%;
		display: flex;
		flex-direction: column;
		gap: 0;
		margin: 30px auto;
	}
	.backends,
	.tech-stacks .main,
	.tech-stacks .vanilla {
		display: flex;
		padding: 0;
		margin: 0;
		justify-content: space-evenly;
	}
	.tech-stacks .abstraction {
		display: flex;
		flex-direction: row;
		padding: 0;
		margin: 0;
		justify-content: space-evenly;
	}
	.tech-stacks .abstraction li,
	.tech-stacks .main li,
	.tech-stacks .vanilla li {
		margin: 2.5vw;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 5px 20px 5px 5px;
		border-radius: 10px;
	}
	.backends li,
	.platforms .platform li,
	.platforms .tools li,
	.platforms .vcs {
		margin: 2.5vw;
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		padding: 15px 25px;
		border-radius: 10px;
	}
	.backends li img,
	.platforms .platform li img,
	.platforms .tools li img,
	.platforms .vcs img {
		margin-right: 10px;
	}
	.platforms .platform,
	.platforms .tools {
		display: flex;
		padding: 0;
		margin: 0;
		justify-content: space-evenly;
	}
	.backends {
		margin-top: 20px;
	}
	#projects {
		padding-bottom: 0;
	}
	#projects h1 {
		padding: 0;
	}
	.projects-container .project {
		margin-bottom: 30px;
	}
	.projects-container #project1,
	.projects-container #project3,
	.projects-container .project .main-summary {
		height: auto;
	}
	.projects-container #project2,
	.projects-container #project4 {
		justify-content: center;
	}
	.project .main-content {
		width: 100%;
	}
	.project .main-content img {
		height: 23vw;
		width: 40vw;
	}
	.project .main-description {
		width: 90%;
		margin: 0 auto;
		justify-content: center;
		align-items: flex-start;
		text-align: justify;
	}
	.projects-container p {
		font-size: 13px;
		margin-bottom: 5px;
	}
	#about h1 {
		background-image: url("../svgs/blob-about.svg");
		padding-bottom: 20vw;
		padding-top: 5vw;
	}
	#about {
		height: auto;
		padding-bottom: 250px;
	}
	#about .about-me {
		padding: 20px 0;
		margin-top: 25dvw;
		height: 110dvh;
	}
	#about .about-me img {
		width: 340px;
		height: 340px;
		top: 10px;
		left: 20%;
		-webkit-clip-path: polygon(
				25% 0%,
				75% 0%,
				100% 50%,
				75% 100%,
				25% 100%,
				0% 50%
			)
			0;
		clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
	}
	#about .img-back {
		-webkit-filter: drop-shadow(1.5vw 1.5vw 0px #006eff);
		filter: drop-shadow(1.5vw 1.5vw 0px #006eff);
	}
	#about .about-me p {
		height: 530px;
		right: 5.5%;
		font-size: 14px;
		width: 400px;
	}
	#about a {
		margin-top: 10vw;
		font-size: 16px;
	}
	#contact {
		height: 120dvh;
		margin-top: 0;
		padding-bottom: 30vw;
		justify-content: center;
		background-image: url("../images/contact-background/gabe-09IS_HJcUZA-unsplash600.webp");
	}
	#contact h1 {
		background-image: url("../svgs/waves-contact.svg");
		padding-bottom: 52vw;
		padding-top: 0;
		font-size: 4vw;
		margin-top: 0;
	}
	#contact .top {
		height: 50px;
		background-image: url("../svgs/waves-contact-top.svg");
		position: absolute;
		top: -210px;
		left: 0;
		height: 35vw;
	}
	.contact-container {
		width: 500px;
		margin-top: 60vw;
		padding-bottom: 30px;
		border-radius: 10px;
	}
	.contact-container form {
		height: 550px;
	}
	.contact-container form h2 {
		font-size: 25px;
		margin: 10px 30px 30px;
		font-weight: 900;
	}
	.contact-container form label {
		font-size: 16px;
		margin-top: 2px;
	}
	.contact-container form input {
		margin-bottom: 10px;
		font-size: 16px;
	}
	.contact-container form button {
		padding: 16px 0;
		font-size: 15px;
	}
	#contact .bottom-wave {
		padding: 20vw 0;
	}
	footer {
		display: flex;
		justify-content: center;
		align-items: center;
		height: auto;
		padding-bottom: 30px;
		flex-direction: column;
	}
	footer a #logo {
		margin: 0;
	}
	footer .bottom-links {
		width: 70%;
	}
}
@media screen and (min-width: 900px) and (max-width: 1200px) {
	nav {
		height: 50px;
		padding: 10px 0;
		justify-content: space-between;
		align-items: center;
	}
	nav .menu {
		display: none;
	}
	nav .links {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 0 10px;
	}
	nav .links a {
		margin-right: 1.5vw;
	}
	nav .mobile-nav {
		display: none;
	}
	nav #logo {
		margin-left: -50px;
	}
	nav .social {
		display: block;
	}
	nav .social {
		display: flex;
		align-items: center;
		width: 18%;
		justify-content: center;
	}
	nav .social a:nth-child(2) {
		margin: 0 2.5vw;
	}
	#logo {
		width: 80px;
		height: 80px;
	}
	#introduction {
		width: 90%;
		margin: 20px auto 100px;
		height: 45dvh;
		flex-direction: row;
		background-image: url("../svgs/wave-home-landscape.svg");
		background-position: bottom;
	}
	#introduction .intro-images {
		width: 80vw;
		margin-right: 0;
		border-radius: 35vw 25vw 20vw 20vw;
		padding: 10px 0;
	}
	#introduction .intro-images img {
		width: 26vw;
		height: auto;
	}
	#introduction .intro-text {
		width: 80%;
		justify-content: space-around;
		align-items: flex-start;
		text-align: left;
		margin-left: 50px;
		margin-top: 130px;
	}
	#introduction .intro-text header {
		align-items: center;
	}
	#introduction .intro-text header h2 {
		font-size: 3.3vw;
		margin-right: 5px;
	}
	#introduction .intro-text header h1 {
		font-size: 3.5vw;
	}
	#introduction .intro-text b {
		font-size: 3vw;
		line-height: 3.5vw;
		text-align: left;
	}
	#introduction .intro-text p {
		font-size: 1.5vw;
		margin-top: 10px;
	}
	#introduction .intro-text .connect {
		justify-content: flex-start;
		margin-top: 25px;
	}
	#introduction .intro-text .connect a {
		padding-left: 20px;
	}
	#portfolio h1 {
		font-size: 35px;
		margin-bottom: 80px;
	}
	#portfolio .stack-header {
		margin-bottom: 0;
		width: 85%;
		margin-top: 30px;
	}
	#portfolio .stack-header p {
		font-size: 23px;
	}
	#portfolio .stack-header img {
		width: 30px;
		height: 30px;
		margin-left: 20px;
		margin-top: -5px;
	}
	#portfolio .backends,
	#portfolio .platforms,
	#portfolio .tech-stacks {
		width: 90%;
		display: flex;
		margin: 0 auto;
		gap: 0;
		justify-content: center;
	}
	#portfolio .tech-stacks li {
		padding: 5px 5px 10px;
	}
	#portfolio .tech-stacks li p {
		font-size: 12px;
	}
	#portfolio .tech-stacks li img {
		width: 50px;
		height: 50px;
	}
	#portfolio .platforms li {
		padding: 20px 23px;
		margin: 30px 25px;
	}
	#portfolio .backends li {
		padding: 18px 20px;
		margin: 30px 25px;
	}
	#portfolio .exp {
		margin-top: 50px;
	}
	#roles {
		width: 99%;
		margin-top: 5px;
		margin-bottom: 40px;
		height: auto;
	}
	#roles .role {
		width: 83%;
		margin: 0 auto;
		height: auto;
		position: relative;
	}
	#roles h3 {
		font-size: 16px;
	}
	#roles p {
		font-size: 14px;
		font-family: monospace;
	}
	.platforms .backends,
	.platforms .platform,
	.platforms .tools,
	.tech-stacks .main,
	.tech-stacks .vanilla {
		display: flex;
		padding: 0;
		margin: 0;
	}
	.tech-stacks .abstraction {
		display: flex;
		flex-direction: row;
		padding: 0;
		margin: 0;
	}
	#projects {
		padding-bottom: 30dvw;
	}
	.project .main-content img {
		height: 23vw;
		width: 40vw;
	}
	#project2 .main-description,
	#project4 .main-description,
	.project .main-description {
		width: 40%;
		height: 27dvh;
		margin: 0 auto;
		justify-content: center;
		align-items: flex-start;
		text-align: justify;
	}
	.projects-container p {
		font-size: 16px;
		margin-bottom: 10px;
	}
	.main-description .main-summary {
		height: auto;
	}
	#about h1 {
		padding-bottom: 12vw;
		padding-top: 0;
		background-image: url("../svgs/blob-about-landscape.svg");
	}
	#about {
		height: 160dvh;
		padding-bottom: 150px;
	}
	#about .about-me {
		padding: 20px 0;
		margin-top: 150px;
		height: 110dvh;
	}
	#about .about-me img {
		width: 400px;
		height: 400px;
		top: 10px;
		left: 3vw;
		-webkit-clip-path: polygon(
			25% 0%,
			75% 0%,
			100% 50%,
			75% 100%,
			25% 100%,
			0% 50%
		);
		clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
		border: none;
	}
	#about .about-me p {
		width: 500px;
		height: auto;
		right: 6vw;
		font-size: 15px;
	}
	#about a {
		font-size: 16px;
		box-shadow: 1vw 1vw #006eff;
	}
	#contact {
		height: 120dvh;
		margin-top: 0;
		padding: 40px 0 80px;
		justify-content: center;
		background-image: url("../images/contact-background/gabe-09IS_HJcUZA-unsplash_landscape900.webp");
	}
	#contact h1 {
		background-image: url("../svgs/wave-contact-landscape.svg");
		padding-bottom: 18vw;
		padding-top: 0;
		font-size: 3vw;
		margin-top: 0;
	}
	#contact .top {
		height: 50px;
		background-image: url("../svgs/waves-contact-top-landscape.svg");
		position: absolute;
		top: -180px;
		left: 0;
		height: 20vw;
	}
	.contact-container {
		width: 600px;
		padding-bottom: 30px;
		border-radius: 10px;
	}
	.contact-container form {
		height: 550px;
		width: 80%;
	}
	.contact-container form h2 {
		font-size: 25px;
		margin: 10px 30px 30px;
		font-weight: 900;
	}
	.contact-container form label {
		font-size: 16px;
		margin-top: 2px;
	}
	.contact-container form input {
		margin-bottom: 10px;
		font-size: 16px;
	}
	.contact-container form button {
		padding: 16px 0;
		font-size: 15px;
	}
	#contact .bottom-wave {
		padding: 20vw 0;
		background-image: url("../svgs/waves-contact-bottom-landscape.svg");
	}
	footer {
		display: flex;
		justify-content: center;
		align-items: center;
		height: auto;
		padding-bottom: 30px;
		flex-direction: column;
	}
	footer a #logo {
		margin: 0;
	}
	footer .bottom-links {
		width: 50%;
	}
}
@media screen and (min-width: 1200px) {
	nav {
		height: 50px;
		padding: 10px 0;
		justify-content: space-between;
		align-items: center;
	}
	nav .menu {
		display: none;
	}
	nav .mobile-nav {
		display: none;
	}
	nav .links {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 0 15px;
	}
	nav .links a {
		margin-right: 2vw;
	}
	nav .social {
		display: block;
	}
	nav .social {
		display: flex;
		align-items: center;
		width: 180px;
		justify-content: center;
	}
	nav .social a:nth-child(2) {
		margin: 0 2vw;
	}
	#logo {
		width: 80px;
		height: 80px;
		margin-right: 80px;
	}
	#introduction {
		width: 90%;
		margin: 30px auto 80px;
		height: 35vw;
		flex-direction: row;
		background-image: url("../svgs/wave-home-landscape.svg");
		background-position: center;
	}
	#introduction .intro-images {
		width: 80vw;
		margin-right: 0;
		height: 35vw;
		border-radius: 35vw 55vw 30vw 40vw;
	}
	#introduction .intro-images img {
		border-radius: 50px;
		padding-top: 3vw;
		width: 22.5vw;
	}
	#introduction .intro-text {
		width: 80%;
		justify-content: space-around;
		align-items: flex-start;
		text-align: left;
		margin-left: 5vw;
		margin-top: 120px;
	}
	#introduction .intro-text header {
		align-items: center;
	}
	#introduction .intro-text header h2 {
		font-size: 3.3vw;
		margin-right: 5px;
	}
	#introduction .intro-text header h1 {
		font-size: 3vw;
	}
	#introduction .intro-text b {
		font-size: 2.5vw;
		line-height: 2.5vw;
		text-align: left;
		margin-top: -5px;
	}
	#introduction .intro-text p {
		font-size: 1.3vw;
		margin-top: 10px;
	}
	#introduction .intro-text .connect {
		justify-content: flex-start;
		margin-top: 25px;
	}
	#introduction .intro-text .connect a {
		font-size: 18px;
		padding-left: 20px;
		margin-right: 2vw;
	}
	.role p {
		font-family: monospace;
		font-size: 14px;
	}
	#portfolio h1 {
		font-size: 35px;
		margin-bottom: 80px;
		padding-left: 20px;
	}
	#portfolio .stack-header {
		margin: 50px auto;
		width: 85%;
		display: flex;
		align-items: center;
		justify-content: flex-start;
	}
	#portfolio .stack-header p {
		font-size: 25px;
	}
	#portfolio .stack-header img {
		width: 30px;
		height: 30px;
		margin-left: 20px;
		margin-top: -5px;
	}
	#portfolio .backends,
	#portfolio .platforms,
	#portfolio .tech-stacks {
		width: 90%;
		display: flex;
		flex-direction: row;
		margin: 0 auto 100px;
		gap: 0;
		justify-content: center;
	}
	#portfolio .tech-stacks li {
		margin: 0 2.5vw;
		padding: 5px 5px 10px;
	}
	#portfolio .platforms li {
		padding: 20px 23px;
		margin: 0 2.5vw;
	}
	#portfolio .backends li {
		padding: 18px 20px;
		margin: 0 2.5vw;
	}
	#portfolio .tech-stacks li p {
		font-size: 12px;
	}
	#portfolio .tech-stacks li img {
		width: 50px;
		height: 50px;
	}
	.platforms .backends,
	.platforms .platform,
	.platforms .tools,
	.tech-stacks .main,
	.tech-stacks .vanilla {
		display: flex;
		padding: 0;
		margin: 0;
	}
	.tech-stacks .abstraction {
		display: flex;
		flex-direction: row;
		padding: 0;
		margin: 0;
	}
	#projects {
		padding-bottom: 13vw;
		justify-content: space-between;
	}
	.projects-container {
		width: 1200px;
		margin: 0 auto;
		height: auto;
	}
	#project3 .main-content img,
	#project4 .main-content img,
	.main-content img {
		height: 229px;
		width: 452px;
	}
	.projects-container p {
		font-size: 16px;
		margin-bottom: 10px;
	}
	#project2 .main-description,
	#project4 .main-description,
	.project .main-description {
		width: 400px;
		height: 30dvh;
		margin: 0 auto;
		justify-content: center;
		align-items: flex-start;
		text-align: justify;
	}
	.main-description .main-summary {
		height: auto;
		margin: 0 auto;
	}
	#project3 .main-content .github,
	#project4 .main-content .github {
		width: 25px;
		height: 25px;
	}
	#roles {
		width: 92.5%;
		margin-top: 80px;
		margin-bottom: 150px;
	}
	#about {
		height: 150dvh;
		padding-bottom: 20vw;
	}
	#about h1 {
		padding-bottom: 12vw;
		padding-top: 2vw;
		background-image: url("../svgs/blob-about-landscape.svg");
		margin-top: -10px;
	}
	#about .about-me {
		padding: 20px 0;
		margin-top: 20vw;
		height: 95dvh;
		min-width: 70%;
		max-width: 1300px;
	}
	#about .about-me img {
		width: 420px;
		height: 420px;
		top: 10px;
		left: 3vw;
		box-shadow: -15px -15px #006eff;
		-webkit-clip-path: polygon(
			25% 0%,
			75% 0%,
			100% 50%,
			75% 100%,
			25% 100%,
			0% 50%
		);
		clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
	}
	#about .about-me p {
		width: 550px;
		height: auto;
		right: 6vw;
		font-size: 16px;
		box-shadow: 25px 15px #006eff;
		margin: 0;
	}
	#about a {
		font-size: 16px;
		box-shadow: 10px 10px #006eff;
		margin-top: 10vw;
	}
	#contact {
		height: 1500px;
		margin-top: 0;
		padding: 0;
		justify-content: center;
		background-image: url("../images/contact-background/gabe-09IS_HJcUZA-unsplash_landscape1200.webp");
	}
	#contact h1 {
		background-image: url("../svgs/wave-contact-landscape.svg");
		padding-bottom: 20vw;
		padding-top: 0;
		font-size: 35px;
		margin-top: 0;
	}
	#contact .top {
		height: 50px;
		background-image: url("../svgs/waves-contact-top-landscape.svg");
		position: absolute;
		top: -15vw;
		left: 0;
		height: 20vw;
	}
	.contact-container {
		width: 600px;
		padding-bottom: 30px;
		border-radius: 10px;
	}
	.contact-container form {
		height: 630px;
		width: 85%;
	}
	.contact-container form h2 {
		font-size: 25px;
		margin: 30px 0 60px;
		font-weight: 900;
	}
	.contact-container form label {
		font-size: 16px;
		margin-top: 2px;
	}
	.contact-container form input {
		margin-bottom: 10px;
		font-size: 16px;
	}
	.contact-container form button {
		padding: 16px 0;
		font-size: 15px;
	}
	#contact .bottom-wave {
		padding: 20vw 0;
		background-image: url("../svgs/waves-contact-bottom-landscape.svg");
	}
	footer {
		height: 15dvh;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	footer a #logo {
		margin: 0;
	}
	footer .bottom-links {
		width: 80%;
		margin: 0 auto;
		justify-content: space-evenly;
	}
	footer .bottom-links li a {
		font-size: 13px;
	}
}
@-webkit-keyframes blob {
	0% {
		border-radius: 25% 56% 65% 24%/58% 48% 53% 45%;
	}
	20% {
		border-radius: 58% 42% 52% 48%/59% 50% 50% 41%;
	}
	40% {
		border-radius: 50% 50% 34% 66%/56% 68% 32% 44%;
	}
	60% {
		border-radius: 46% 54% 38% 62%/49% 60% 40% 51%;
	}
	80% {
		border-radius: 36% 64% 63% 37%/63% 37% 54% 46%;
	}
	99% {
		border-radius: 26% 46% 24% 58%/53% 32% 51% 46%;
	}
	to {
		border-radius: 23% 57% 64% 26%/55% 48% 52% 45%;
	}
}
@keyframes blob {
	0% {
		border-radius: 25% 56% 65% 24%/58% 48% 53% 45%;
	}
	20% {
		border-radius: 58% 42% 52% 48%/59% 50% 50% 41%;
	}
	40% {
		border-radius: 50% 50% 34% 66%/56% 68% 32% 44%;
	}
	60% {
		border-radius: 46% 54% 38% 62%/49% 60% 40% 51%;
	}
	80% {
		border-radius: 36% 64% 63% 37%/63% 37% 54% 46%;
	}
	99% {
		border-radius: 26% 46% 24% 58%/53% 32% 51% 46%;
	}
	to {
		border-radius: 23% 57% 64% 26%/55% 48% 52% 45%;
	}
}
@-webkit-keyframes loading {
	0% {
		opacity: 1;
	}
	to {
		opacity: 0;
		display: none;
	}
}
@keyframes loading {
	0% {
		opacity: 1;
	}
	to {
		opacity: 0;
		display: none;
	}
}
@-webkit-keyframes fadeIn {
	0% {
		opacity: 0;
		transform: scale(0.9);
	}
	to {
		opacity: 1;
		transform: scale(1);
	}
}
@keyframes fadeIn {
	0% {
		opacity: 0;
		transform: scale(0.97);
	}
	to {
		opacity: 1;
		transform: scale(1);
	}
}
@-webkit-keyframes fadeInRight {
	0% {
		opacity: 0;
		transform: translate(-5%);
	}
	to {
		opacity: 1;
		transform: translate(0);
	}
}
@keyframes fadeInRight {
	0% {
		opacity: 0;
		transform: translate(-5%);
	}
	to {
		opacity: 1;
		transform: translate(0);
	}
}
@-webkit-keyframes fadeInEnlarge {
	0% {
		opacity: 0;
		transform: translate(-20px);
		transform: scale(0);
	}
	to {
		opacity: 1;
		transform: translate(0);
		transform: scale(1);
	}
}
@keyframes fadeInEnlarge {
	0% {
		opacity: 0;
		transform: translate(20px);
		transform: scale(0.8);
	}
	to {
		opacity: 1;
		transform: translate(0);
		transform: scale(1);
	}
}
@-webkit-keyframes fadeInLeft {
	0% {
		opacity: 0;
		transform: translate(5%);
	}
	to {
		opacity: 1;
		transform: translate(0);
	}
}
@keyframes fadeInLeft {
	0% {
		opacity: 0;
		transform: translate(5%);
	}
	to {
		opacity: 1;
		transform: translate(0);
	}
}
@-webkit-keyframes fadeInBottom {
	0% {
		opacity: 0;
		transform: translateY(-5%);
	}
	to {
		opacity: 1;
		transform: translate(0);
	}
}
@keyframes fadeInBottom {
	0% {
		opacity: 0.6;
		transform: translateY(-5%);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}
